/* ========== basic ========== */
:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* --tertiary-font: 'Raleway', sans-serif; */
  --accent-color: #2196f3;
  --title-color: #212121;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--primary-font);
  font-style: normal;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* ========== end basic ========== */

/* ========== components ========== */
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-header {
  color: #212121;
  margin-right: 93px;
}
.logo-footer {
  display: flex;
  color: #ffffff;
  margin-bottom: 20px;
}
.logo-part {
  color: #2196f3;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* ========== end components ========== */

/* ========== header ========== */
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-color);
}
.active {
  color: var(--accent-color);
}
.header {
  border: 1px solid #ececec;
  padding: 25px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation,
.navigation-list,
.header-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child),
.header-list-item:not(:last-child) {
  margin-right: 50px;
}
/* ========== end header ========== */

/* ========== hero ========== */
.hero {
  background-color: #2f303a;
}
.hero-title {
  display: flex;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-bottom: 30px;
}
.modal-button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}
.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}
/* ========== end hero ========== */

/* ========== features ========== */
.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.features-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.features.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-list-text {
  width: 270px;
}
/* ========== end features ========== */

/* ========== doing ========== */
/* .title is in components*/
.doing.section {
  padding-bottom: 94px;
}
.doing .title {
  margin-bottom: 50px;
}
.doing-list {
  display: flex;
  justify-content: center;
}
.doing-list-item:not(:last-child) {
  margin-right: 30px;
}
.doing-list-img {
  width: 370px;
  height: 294px;
}
/* ========== end doing ========== */

/* ========== team ========== */
/* .title is in components*/
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team .title {
  margin-bottom: 50px;
}
.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* ========== end team ========== */

/* ========== footer ========== */
.footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-list-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
/* ========== end footer ========== */

/* ========== portfolio ========== */
.filter-button {
  font-family: var(--primary-font);
  font-style: normal;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  height: 38px;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 6px 22px;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list-img {
  width: 370px;
  height: 294px;
}
.portfolio-list-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list-item {
  background: #ffffff;
  width: 370px;
}
.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
/* ========== end portfolio ========== */
