.doing {
  &.section {
    padding-bottom: 94px;
  }

  & .title {
    margin-bottom: 50px;
  }

  &-list {
    display: flex;
    justify-content: center;

    &-item:not(:last-child) {
      margin-right: 30px;
    }

    &-img {
      width: 370px;
      height: 294px;
    }

    &-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 370px;
      height: 70px;
      background: rgba(47, 48, 58, 0.8);
      padding: 27px 0;
    }
  }
}

.doing-img-box {
  position: relative;
  width: auto;
}
.doing-overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
