$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-color: #2196f3;
$title-color: #212121;
$fill-header: #757575;
$fill-social: #afb1b8;
$fill-social-hover: #ffffff;
$fill-footer: #ffffff;
